.contact{
    display: flex;
    align-items: center;
    max-width: 1320px;
}

.box{
    align-items: center;
    margin: auto;
    width: 300px;
    height: 500px;
    padding-left: 270px;

}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.letter-font{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.btn2{
    border: none;
    background-color: #fdeadf;
    color: #ff5e00;
    border-radius: 10px;
    width: 220px;
    height: 40px;
    font-size: 20px;
}

.box img{
    width: 300px;
    height: 300px;
}

.container{
    width: 1320;
    text-align: center;
    height: 500px;
    background-color: #fff7e8;
}

.box3{
    padding-top: 40px;
    margin-left: 200px;
    text-align: center;
    background-color: #fff7e8;
}

.size{
   font-size:40px;
   color: #ff5e00;
}

.icon{
    font-size: 20px;
}
